<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h1 class="work-title"><%= @presenter.title.first %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'tk_access_notice' %>

    <% permission_service = TkPermissionService.new(current_user, @presenter.model) %>

    <% if permission_service.can_view? %>
      <%# User has permission to view - show full content %>

      <%= render 'representative_media', presenter: @presenter %>

      <%= render 'attributes', presenter: @presenter %>

      <%= render 'relationships', presenter: @presenter %>

      <%= render 'items', presenter: @presenter %>

      <%= render 'metadata', presenter: @presenter %>

      <%= render 'workflow_actions_widget', presenter: @presenter %>

    <% else %>
      <%# Access denied - show restricted message %>

      <div class="alert alert-danger">
        <h3><i class="fa fa-lock"></i> Access Restricted</h3>

        <p class="lead"><%= permission_service.access_denial_reason %></p>

        <% if current_user %>
          <p class="mb-0">
            If you believe you should have access to this material, please contact
            <% if @presenter.cultural_authority.present? %>
              <%= mail_to @presenter.cultural_authority.first, @presenter.cultural_authority.first %>.
            <% else %>
              the repository administrators.
            <% end %>
          </p>

          <% if @presenter.cultural_community.present? || @presenter.indigenous_affiliation.present? %>
            <div class="mt-3 p-3 bg-light border">
              <h5>This material is associated with:</h5>
              <ul class="mb-0">
                <% @presenter.cultural_community.each do |community| %>
                  <li><%= community %></li>
                <% end %>
                <% @presenter.indigenous_affiliation.each do |affiliation| %>
                  <li><%= affiliation %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mt-3">
            <p class="small text-muted">
              <strong>To update your cultural affiliations:</strong>
              Go to <%= link_to 'your profile', hyrax.edit_dashboard_profile_path(current_user) %>
              and update your cultural community information.
            </p>
          </div>

        <% else %>
          <%# Anonymous user %>
          <p class="mt-3">
            <%= link_to 'Log in', main_app.new_user_session_path, class: 'btn btn-primary' %>
            to request access or update your cultural profile.
          </p>
        <% end %>

        <%# Show limited metadata even when access is restricted %>
        <div class="mt-4">
          <h4>Basic Information</h4>
          <dl class="row">
            <% if @presenter.creator.present? %>
              <dt class="col-sm-3">Creator</dt>
              <dd class="col-sm-9"><%= @presenter.creator.join(', ') %></dd>
            <% end %>

            <% if @presenter.date_created.present? %>
              <dt class="col-sm-3">Date Created</dt>
              <dd class="col-sm-9"><%= @presenter.date_created.join(', ') %></dd>
            <% end %>

            <% if @presenter.rights_statement.present? %>
              <dt class="col-sm-3">Rights Statement</dt>
              <dd class="col-sm-9">
                <%= link_to @presenter.rights_statement.first, @presenter.rights_statement.first, target: '_blank' %>
              </dd>
            <% end %>
          </dl>
        </div>
      </div>

    <% end %>
  </div>
</div>

<%= render 'show_actions', presenter: @presenter %>

<style>
  .work-title {
    margin-bottom: 1.5rem;
  }

  .bg-light {
    background-color: #f8f9fa !important;
  }

  .border-left {
    border-left-width: 3px !important;
  }
</style>
